
dataset/kaggle/temp.py
dataset/kaggle/test.csv
dataset/kaggle/train.csv
dataset/kaggle/train.npy
dataset/kaggle/training.npy
dataset/kaggle/training.csv
dataset/kaggle/test.npy
face_0.png
face_1.png
face_2.png
face_2.png
recognition/models/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
